@font-face {
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}


body {
    background: url("./img/original.png") no-repeat top center;
    background-size: cover;
    height: 100vh;
    display:flex;
    align-items: center;
    font-family: "Avenir Roman" sans-serif;
}

.btn {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 4px;
    background: rgba(0,0,0,.8);
    text-decoration: none;
    padding: 15px 16px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 45px;
    transition: 0.2s ease;
}

.btn:hover {
    background: #f9f9f9;
    color: black;
}

.logo {
    max-width: 180px;
}

.hero-content {
    padding-left: 80px;
}

.hero-content > p {
    color: rgba(192, 192, 192, 0.8);
    line-height: 18px;
    font-size: 12px;
    margin-top: 16px;
}

h1 {
    font-family: "Avenir Roman", sans-serif;
    font-size: 43px;
    line-height: 53px;
    color: #f9f9f9;
    margin: 20px 0 30px 0;
}

.precos-container {
    display: flex;
}

.preco span {
    font-weight:700;
    font-size:30px;
    line-height:36px ;
    color: #f9f9f9;
}

.preco {
    width: 300px;
    max-width: 100%;
    color: rgba(192, 192, 192, 0.8);
}

.preco:first-child {
    display: grid;
}

.preco:first-child a {
    align-self: end;
}

.preco a {
    padding:16.5px 14px;
    background: #0063e5;
    display: block;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color:#f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.preco a:hover {
    background: #2876dd;
}

.preco p {
    margin: 16px 0;

}

.preco + .preco {
    margin-left: 32px;
}

