@font-face {
    font-family: "Avenir Roman";
    src: url("avenir-roman.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    align-items: center;
    font-family: "Avenir Roman" sans-serif;
}

.btn {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #f9f9f9;
    border-radius: 4px;
    background: rgba(0,0,0,.8);
    text-decoration: none;
    padding: 15px 16px;
    border: 1px solid #f9f9f9;
    border-radius: 4px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 45px;
    transition: 0.2s ease;
}

.btn:hover {
    background: #f9f9f9;
    color: black;
}

.logo {
    max-width: 180px;
}

.hero-content {
    height: 820px;
    background: url("./img/original.png") no-repeat top center;
    background-size: cover;
    padding: 93px 93px 93px 93px;
}

.grad-div {
    margin-top: 175px;
    justify-content: center;
    width: 635px;
    height: 507px;
}

.hero-content > p {
    color: rgba(192, 192, 192, 0.8);
    line-height: 18px;
    font-size: 12px;
    margin-top: 16px;
}

h1 {
    font-family: "Avenir Roman", sans-serif;
    font-size: 43px;
    line-height: 53px;
    color: #f9f9f9;
    margin: 20px 0 30px 0;
}

.precos-container {
    display: flex;
}

.preco span {
    font-weight:700;
    font-size:30px;
    line-height:36px ;
    color: #f9f9f9;
}

.preco {
    width: 300px;
    max-width: 100%;
    color: rgba(192, 192, 192, 0.8);
}

.preco:first-child {
    display: grid;
}

.preco:first-child a {
    align-self: end;
}

.preco a {
    padding:16.5px 14px;
    background: #0063e5;
    display: block;
    border-radius: 4px;
    font-size: 18px;
    text-align: center;
    color:#f9f9f9;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.2s ease;
}

.preco a:hover {
    background: #2876dd;
}

.preco p {
    margin: 16px 0;

}

.preco + .preco {
    margin-left: 32px;
}

.section {
    position: relative;
    box-sizing: border-box;
    padding: 5.6vw;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #030615;
}

.container {
    font-size: 20px;
    line-height: 30px;
}

.grid {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    align-items: center;
    padding: 91px 91px 91px 91px;
}

.order {
    order: 2;
    padding-left: 65px
}

.section h1 {
    font-size: 40px;
    line-height: 50px;
}

.section p {
    font-size: 20px;
    line-height: 30px;
    color: silver;
}

.img-tv {
    position: relative;
    z-index: 1;
}

.img-tv img {
    width: 900px;
    height: 691px;
}

.center {
    background-color: #030615;
    padding: 91px 91px 91px 91px;
}

.subs {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #f9f9f9;
    background: #016cf9;
    text-decoration: none;
    padding: 18px 0px 18px 0px;
    border-radius: 4px;
    display: inline-block;
    transition: 0.2s ease;
    max-width: 360px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: "Avenir Roman";
}

.devices {
    display: flex;
    padding: 83px 83px 83px 83px;
    background-color: #030615;
    color: silver;
    font-size: 25px;
    text-align: center;
    font-family: "Avenir Roman";
    justify-content: center;
}

.h2 {
    background-color: #030615;
    color: white;
    font-size: 40px;
    text-align: center;
    font-family: "Avenir Roman";

}


.devices .center {
    background-color: #030615;
    width: 1400px;
    height: 700px;
    margin-block-end: 24px;
}

.p {
    margin: 0 0 24px;
    margin-bottom: 20px;
}

.grid-list {
    padding-left: 0;
    justify-content: space-around;
    margin: none;
}

.grid-item.center {
    align-items: center;
}

.grid-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 12px;
    width: 268px;
}

    .center {
        text-align: center;
    }


.h3 {
    color: white;
}

.footer {
    background-color: #030615;
    padding: 26px 8px;
    width: 1887px;

}

.disneyplus {
    width: 80px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.rodape {
    color: silver;
    display: flex;
    justify-content: center;
}